<% include ../partials/header %>

<div class="container">
    <header class="jumbotron">
        <h1>Campgrounds Page</h1>
        <p>View our hand-picked campground from all over the world</p>
        <div>
            <a class="btn btn-lg btn-primary" href="/campgrounds/new">Add New Campground</a>
        </div>
    </header>
    
    <div class="row text-center d-flex flex-wrap">
        <% campgrounds.forEach(function (campground) { %>
            <a href="/campgrounds/<%= campground._id %>" class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" style="margin-bottom:10px;">
                    <img class="card-img-top" src="<%= campground.image %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= campground.name %></h5>
                    </div>
                </div>
            </a>
        <% });%>
    </div>
</div>


<% include ../partials/footer %>